// Place all the styles related to the invoices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.remove_fields{

	margin-left: 150px;
	margin-bottom: 25px;
}
.count{
	width: 30px;
}
.cantidad{
	margin-top: -46px;
overflow: hidden;
}
.producto{

	margin-left: 155px;
}


.remove_producto{
	margin-bottom: 15px;
}
.hidden{
	display:none;
}
.cantidad_cremeria{
	margin-top: -46px;
	margin-left: 350px;
overflow: hidden;
}
.producto_cremeria{
}
