 <% if current_user.has_role? :admin %>
 <li class="dropdown">
 	<%= render "layouts/admin.html.erb" %>
 </li>
    <% end %>

<!--Este es el menu de  facturista -->
     <% if current_user.has_role? :facturista %>
     <%= render "layouts/facturista.html.erb" %>
    <% end %>