<div class="navbar navbar-fixed-top  ">
        <div class="navbar-inner ">
                <div class="container-fluid">
                        <a class="brand">Sistema de Control de Documentos	
                        <%= render 'layouts/userinfo'%>
                        <ul class="nav">
                          <%= render 'layouts/drop_menu' %>
                        </ul>
                </div>
        </div>
</div>